## Ruby
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

## Gradle
build/
.gradle/
local.properties
.gradle-app.setting

## OS Specific
.DS_Store
Thumbs.db

## NON
/java/*.class
.non/
dist/
project/