## Ruby
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

## Lua
*.def
*.rock
*.rc
*.res

## Java
build/
.gradle/
local.properties
.gradle-app.setting
*.class

## OS Specific
.DS_Store
Thumbs.db