## Java
*.war
*.ear
*.class
hs_err_pid*

## Ruby
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

## Gradle
.gradle
local.properties

## OS Specific
.DS_Store
Thumbs.db

## NON
.non/
dist/
project/
non.jar